@charset "UTF-8";
#titulo {
    background-color: blue;
}
.red {
    background-color: red;
}
h1.red  {
    background-color: rgb(124, 85, 71);
}
h1 {
    background-color: yellow;
}
#meuid {
    color: red;
}
.minhaclasse {
    color: blue;
}
h2 {
    color: green !important;
}