@charset "UTF-8";

.borda{
    border: 1px solid red;
}
h1 {
    height: 150px;
}
.azul {
    background: blue;
}
.vermelho {
    background: red;
}
.verde {
    background: green;
}
li {
    display: inline;
    width: 33%;
    height: 100px;
}
div {
    display: inline-block;
    width: 20%;
    height: 150px;
}
a.botao {
    padding: 100px;
    width: 50%;
    margin-top: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}